body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0%;
    
    


}
.header{
    display:flex;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 30px;
    justify-content: center;
    background-color: #1f2937;
    


}
.logo{
    margin-left: auto;
    color: #f9faf8;
    font-size: 24px;
    width: 400px;
}

ul{
    display: flex;
    gap:20px;
    list-style: none;
    margin: auto;
    width: 400px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}

.content-1{
    background-color: #1f2937;
    display:flex;
    gap:70px;
    font-size: 18px;
    justify-content: center;
    padding-bottom: 70px;

}

.izq{
    width: 500px;
}

.p-1{
    font-size: 20px;
    color: #f9faf8;
    padding-top: 0;
    height: 60px;
}
.img-1{
    height: 280px;
    width: 600px;
    border: none;
}
h1{
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
    padding-bottom: 0;
    height: 85;
}

button{
    background-color: #3882f6;
    border-radius: 7px;
    height: 30px;
    border: 0;
    color: #e5e7eb;
    
}
.button-i{
    width: 100px;
    font-size: 16px;
    font-weight: bolder;
}
.tittle{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    background-color: white;
    margin:50px;
}

.content-3{
    display: flex;
    justify-content: center;
    gap: 140px;
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.content-4{
    
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.p1{
    margin-bottom: 0%;
    width: 800px;
    height: auto;
    padding: 0%;

}
.p2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 448px;
    margin-top: 0%;

}



img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 7px solid #3882f6;
}

.descripcion{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.text{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 205px;
}

.blue{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 70px;

}

.button-2{
background-color: #3882f6;
border:#f9faf8 solid 2px;
width: 100px;
font-weight: bolder;
font-size: 15px;


}

.text-final {
    background-color: #3882f6;
    color: #f9faf8;
    width: 365px;
    
    
}

.button-f{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    height: 150px;
    border-radius: 15px;
    width: 900px;
    justify-content: space-evenly;


}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
